/* Main Container */
.list-container {
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Heading */
.heading {
  font-size: 34px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(5, 220px); 
  gap: 25px;
  justify-content: center; 
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

/* Movie Card */
.movie-item {
  background: #111827;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;

  transition: transform 0.35s ease,
              box-shadow 0.35s ease;
}

.movie-item:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 18px 40px rgba(0,0,0,0.75);
}

/* Poster */
.image {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

/* Content */
.movie-container {
  padding: 16px;
  text-align: center;
}

.movie-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.movie-rating {
  color: #22c55e;
  font-size: 14px;
  margin-bottom: 4px;
}

.movie-genre {
  color: #9ca3af;
  font-size: 13px;
}


.search-container {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-bottom: 30px;
  margin-top: 20px;
}

.search-input {
  width: 420px;
  padding: 14px 20px;
  border-radius: 30px;
  border: none;
  outline: none;

  font-size: 16px;
  background: rgba(255,255,255,0.08);
  color: white;

  backdrop-filter: blur(10px);

  transition: 0.3s;
}

/* Glow on focus */
.search-input:focus {
  box-shadow: 0 0 12px #6366f1;
  background: rgba(255,255,255,0.12);
}

.search-input::placeholder {
  color: #cbd5e1;
}

.movie-card {
  width: 220px;
  border-radius: 18px;
  overflow: hidden;
}
.movie-poster {
  width: 100%;
  height: 280px;
  object-fit: cover; 
  border-radius: 18px;
}

